services:
  # Caddy Docker Proxy - reverse proxy with automatic HTTPS
  caddy:
    image: lucaslorentz/caddy-docker-proxy:ci-alpine
    container_name: caddy.proxy
    ports:
      - 80:80
      - 443:443
    environment:
      - CADDY_INGRESS_NETWORKS=caddy
    networks:
      - caddy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/data
      - ./config:/config
      - ./Caddyfile:/etc/caddy/Caddyfile  # Custom config for external proxies
    restart: unless-stopped
networks:
  caddy:
    external: true
